<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the.man.member.model.repository.MemberMapper">
	
	<resultMap type="member" id="memberResultSet">
		<result column="USER_NO" property="userNo" />
		<result column="SOCIAL_ID" property="socialId" />
		<result column="USER_NAME" property="userName" />
		<result column="USER_NICKNAME" property="userNickname" />
		<result column="USER_EMAIL" property="userEmail" />
		<result column="USER_PHONE" property="userPhone" />
		<result column="USER_STATUS" property="userStatus" />
		<result column="USER_CODE" property="userCode" />
		<result column="USER_PROFILE" property="userProfile" />
	</resultMap>
	
	<select id="selectUser" parameterType="member" resultMap="memberResultSet">
		SELECT
		       SOCIAL_ID,
		       USER_NICKNAME,
		       USER_PROFILE
		  FROM
		       TB_USER
		 WHERE
		       SOCIAL_ID = #{socialId}
	</select>
	
	<!-- 회원가입 시 이메일 중복확인 -->
	<select id="checkEmail" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		       TB_USER
		 WHERE
		       USER_EMAIL = #{userEmail}
	
	</select>
	
	<insert id="insertUser" parameterType="member">
		INSERT
		  INTO
		       TB_USER
		VALUES
		       (
		       SEQ_TB_USER.NEXTVAL,
		       #{socialId},
		       #{userName},
		       #{userNickname},
		       #{userEmail},
		       #{userPhone},
		       DEFAULT,
		       #{userArea},
		       #{userProfile}
		       )
	</insert>
	
	
</mapper>