<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the.man.product.model.repository.ProductMapper">
	
	<resultMap type="product" id="productResultSet">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRODUCT_CONTENT" property="productContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		
		<result column="COUNT" property="count"/>
		<result column="USER_NO" property="userNo"/>
		
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
	<resultMap type="ProductPhoto" id="productPhotoResultSet">
		<result column="PRODUCT_PHOTO_NO" property="productPhotoNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
	</resultMap>
	
	
	<resultMap type="category" id="categoryResultSet">
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
	</resultMap>
	
	
	
	
	<insert id="insert" parameterType="product">
		<selectKey keyProperty="productNo" resultType="_int" order="BEFORE">
	        SELECT SEQ_TB_PRODUCT.NEXTVAL AS productNo FROM dual
	    </selectKey>
		INSERT
			INTO
				TB_PRODUCT
				(
				PRODUCT_NO,
				PRODUCT_Name,
				PRODUCT_CONTENT,
				PRODUCT_PRICE,
				CATEGORY_NO,
				USER_NO			
				)
			VALUES
				(
				#{productNo},
				#{productName},
				#{productContent},
				#{productPrice},
				#{categoryNo},
				#{userNo}
				)
	
	</insert>
	
	<insert id="insertImg" parameterType="productPhoto">
		INSERT
			INTO
				TB_PRODUCT_PHOTO
				(
				PRODUCT_PHOTO_NO,
				PRODUCT_NO,
				ORIGIN_NAME,
				CHANGE_NAME,
				FILE_LEVEL
				)
			VALUES
				(
				SEQ_TB_PRODUCT_PHOTO.NEXTVAL,
				#{productNo},
				#{originName},
				#{changeName},
				#{fileLevel}
			)
				
	
	</insert>
	
	<select id="selectListCount" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      TB_PRODUCT
		  WHERE
		  	  CATEGORY_NO = #{categoryNo}
	</select>
	
	

	<select id="allProduct" resultMap="productResultSet" parameterType="HashMap">
		SELECT
		      P.PRODUCT_NO,
		      PRODUCT_NAME,
		      PRODUCT_CONTENT,
		      CREATE_DATE,
		      USER_NO,
		      COUNT,
		      CHANGE_NAME
		  FROM
		      TB_PRODUCT P
		  LEFT
		  JOIN
		      TB_PRODUCT_PHOTO PP ON (P.PRODUCT_NO = PP.PRODUCT_NO AND FILE_LEVEL = 1)
		 WHERE
		 	  CATEGORY_NO = #{categoryNo}     
		 ORDER
		    BY
		      P.PRODUCT_NO DESC
	</select>
	
	<select id="allCategory" resultMap="categoryResultSet">
		SELECT
				*
		FROM
			TB_CATEGORY
	</select>
	
	<select id="selectProduct" parameterType="_int" resultMap="productResultSet">
		SELECT
			P.PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_CONTENT,
			COUNT,
			CHANGE_NAME
		FROM
			TB_PRODUCT P
		LEFT
		JOIN
			TB_PRODUCT_PHOTO PP ON(P.PRODUCT_NO = PP.PRODUCT_NO AND FILE_LEVEL = 2)
		WHERE
			P.PRODUCT_NO = #{productNo}
		ORDER
			BY
			P.PRODUCT_NO DESC
	</select>
	
	<select id="selectProductPhotos" parameterType="_int" resultMap="productPhotoResultSet">
		SELECT
			PRODUCT_NAME,
			ORIGIN_NAME,
			CHANGE_NAME
		FROM
			TB_PRODUCT_PHOTO
		JOIN
			TB_PRODUCT USING(PRODUCT_NO)
		WHERE
			PRODUCT_NO= #{productNo}
		
	</select>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE
			  TB_PRODUCT
		   SET
		   	  COUNT = COUNT + 1
		 WHERE
		 	  PRODUCT_NO = #{productNo}
	</update>
	
	
</mapper>